HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/eventosgo/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

derby.log

eventosgo/db.lck

eventosgo/log/log.ctrl

eventosgo/log/log3.dat

eventosgo/log/logmirror.ctrl

eventosgo/seg0/c10.dat

eventosgo/seg0/c230.dat

eventosgo/seg0/c241.dat

eventosgo/seg0/c251.dat

eventosgo/seg0/c400.dat

eventosgo/seg0/c5b0.dat

eventosgo/seg0/c5c1.dat

eventosgo/seg0/c5d1.dat

eventosgo/seg0/c90.dat

eventosgo/seg0/ca1.dat

eventosgo/seg0/cb1.dat

eventosgo/log/log2.dat
